li{
list-style:none;
}
.row-7 h4,.row-5 h4,.row-9 h4{
	font-size:2em;
}
.posts a{
	color:#d43f3a;
}
.navigation ul li:hover{
	border-bottom:3px solid red;
}
.row-1{
	font-size:10px;
}
.row-1-info ul{
	padding-top:22px;
	font-size:12px;
}
.row-1-info li{
	display:inline;
}
span{
	color:#f5392d;
}
.row-2{
	height:auto;
}
.row-3{
	padding-top:70px;
	margin-bottom:40px;
}
.row-3 h5{
	font-weight:600;
}
.row-3 p,.row-5 p{
	color:#666666;
}
.row-3-inr{
	padding-top:10px;
}
.row-3 i{
	color:#666666;
}
.row-3 i:hover{
	color:#d43f3a;
	text-shadow: 2px 0px #474747;
}
.row-4{
	padding-top:40px;
	height:200px;
	background-color:#352728;
}
.row-4 h5{
	font-size:1.5em;
	color:#fafafa;
}
.gallery .col-lg-3{
	padding:1px;
}
.download{
	color:#ef3538;
}
.row-5,.row-6,.row-7,.row-9{
	height:auto;
	padding-top:70px;
}
.row-5 p{
	padding-top:30px;
	color:#666666;
}
.row-6 h4{
	border-bottom:1px solid #ee3835;
	padding-bottom:7px;
}
.testi p{
	font-size:12px;
}
h6{
	font-weight:bold;
	font-size:18px;
}
.imgs{
	padding-top:20px;
}
.progress{
	height:5px;
}
.row-8{
	margin-top:40px;
	background-color:#2c2827;
	padding-top:70px;
	padding-bottom:60px;
	height:auto;
}
.row-8 .fa,h2{
	color:#ee3733;
}
.row-8 p{
	color:#fafafa;
}
.row-9{
	padding:60px;
}
.arrow{
	color:#7f7f7f;
}
.client{
	padding-top:20px;
}
.row-10{
	padding-top:40px;
	background-color:#222222;
	font-size:13px;
}
.row-10 h4{
	color:#fafafa;
	font-weight:bold;
	padding-bottom:20px;
}
.row-10 p{
	color:#fafafa;
}
input[type="email"]{
	width:165px;
}
.row-10 .foot{
	padding-bottom:50px;
}
.f-iner ul li{
	display:inline;
	margin-right:20px;
}
.foot-row{
	padding-bottom:60px;
}
.icons{
	padding:10px;
	color:#fafafa;
}
.gal .col-xs-4{
	padding:3px;
} 
.gal img{
	border:solid 5px #444444;
}
.name span:nth-of-type(1){
	background-color:#444444;
	padding:8px 15px 8px 15px;
	color:white;
	font-weight:bold;
	font-size:16px;
	position:relative;
	top:-105px;
	left:100px;
	z-index:0;
	
}
.name span:nth-of-type(2){
	background-color:#ed3733;
	padding-left:13px;
	padding-right:13px;
	color:white;
	padding-top:8px;
	padding-bottom:8px;
	font-size:14px;
	position:relative;
	top:-75px;
	left:6px;
	z-index:0;
}
.date{
	width:51px;
	background-color:#444444;
	color:white;
	padding-top:5px;
	float:left;
	margin-right:8px;
}
.date span{
	font-weight:bold;
	font-size:20px;
	color:#fafafa;
}
.date i{
	background-color:#ed3733;
	padding:18px;
}